html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    font-family: 'Assistant', 'Squada One', sans-serif;
}
h1 {
    font-family: 'Squada One', 'Assistant', sans-serif;    
    font-size: 85px;
    color: white;
    text-align: center;
    padding-top: 120px;
}
h2 {
    font-family: 'Assistant', 'Squada One', sans-serif;
    font-size: 15px;
}
form {
    border: 0.5px solid white;
    width: 500px;
    margin: auto auto;
    font-family: 'Assistant', 'Squada One', sans-serif;
    vertical-align: center;
}
.bgimage {
    background-color: black;
    background-image: url(pictures/bg3.jpg);
    background-size: cover;
    height: 100vh;
    background-position: relative;
    background-repeat: no-repeat;
}


.maincontent h2 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.formmain h1 {
    font-family: 'Squada One', 'Assistant', sans-serif;
    font-size: 75px;
    color: white;
    text-align: center;
    padding: 50px 20px;
}
.formmain {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Assistant', 'Squada One', sans-serif;
    text-align: center;
    background-color: black;
    clear: both; 
    display: flex;
    justify-content: space-around;
}

ul li:first-child {justify-content: flex-start;}
ul li:nth-child(2) {justify-content: flex-end;}
ul li:nth-child(3) {justify-content: flex-end;}
ul li:nth-child(4) {justify-content: flex-end;}
ul li:last-child {justify-content: flex-end;}

.fix {
    clear: both;
}
#header a {
    font-size: 20px;
    color: white;
}

#header li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}
.forms1 {
    text-align: center;
    margin: 5px;
}
.forms2 {
    color: white;
}
.submit {
    text-align: center;
}
#submit {
    width: 230px;
    color: white;
    background-color: #7d7d7d;
    border: 1px solid white;
    margin-bottom: 5px;
}


#main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
#mainboxes a {
    color: white;
    background-color: #a0a89d;
    display: block;
    padding: 5px 30px 5px 30px;
    text-align: center;
    margin: 5px;
}
#mainboxes {
   width: 300px;
   height: 400px;
   background-color: black;
   margin: 10px 20px;
}
#mainboxes h2 {
    font-size: 30px;
    padding: 5px 5px;
    color: white;
}

#mainboxes p{
    color: white;
    text-align: center;
    padding: 20px 7px 20px 7px;
}
.floater {
    float: left;
    border: 1px solid white;
    color: white;
}